@import "./fonts.css";

:root {
    --primary: #154B6D;
}

body,
html {
    margin: 0;
    font-family: var(--Nunito);
}

* {
    font-family: var(--Nunito);
    box-sizing: border-box;
}

.site-header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;

    background-color: var(--primary);
    color: #fff;

    font-family: var(--Nunito);
    font-size: 1.2em;
}

.site-header__wrapper {
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    justify-content: space-between;
}

.site-header>div {
    flex-grow: 0;
    flex-shrink: 0;
}

.mobile-nav>i:hover {
    color: #2f698e;
    cursor: pointer;
}

/* CART ICON - START*/

.cart {
    position: relative;
}

/*CART ICON - END*/

/* BADGE - START */

.badge {
    position: absolute;
    bottom: 60%;
    left: 90%;
}

.badge__wrapper--gray {
    display: grid;
    place-items: center;

    background-color: #ccc;

    min-height: 20px;
    min-width: 20px;

    width: 20px;
    height: 20px;

    border-radius: 50%;
}

/* BADGE - END */

/* MOBILE SIDE PANEL - START */
.mobile-side-panel {
    position: fixed;
    z-index: 98;

    height: 100vh;
    width: 300px;

    transition: all 0.1s ease-in-out;
    max-width: 0;
    overflow: hidden;
}

.side-panel__overlay {
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: absolute;
    top: 0;
    left: 0;

}

#side_panel.active {
    max-width: 100%;
}

.mobile-nav__wrapper {
    position: relative;

    background-color: #fff;

    width: 300px;
    height: 100%;
    overflow-y: scroll;

    padding-bottom: 50px;

    z-index: 99;
}

.mobile-nav__wrapper a {
    text-decoration: none;
}

.mobile-search__wrapper {
    position: relative;
}

.mobile-search input {
    display: block;

    font-family: var(--Roboto);
    font-size: 14px;
    line-height: 28px;

    width: 100%;
    padding: 7px 20px;

    border: none;
    color: #333;
}

.mobile-search input:focus {
    outline: none;
}

.mobile-search__wrapper button {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 22px;

    background-color: unset;
    outline: unset;
    border: unset;
    color: #333;

    padding: 7px 20px;
    cursor: pointer;
}

.menu-text {
    display: flex;
    justify-content: space-between;
    background-color: #666666;
    padding: 13px 0 10px 20px;

    font-size: 20px;
    color: #fff;
}

.btn-toggle-canvas {
    background-color: #2F698E;
    color: #fff;
    border: unset;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

.main-menu li {
    list-style-type: none;
}

ul.main-menu {
    padding: 0;
    margin: 0;
    position: relative;
}

.main-menu__item>a,
.submenu-list__item>a,
.mobile-account>a,
.mobile-wishlist>a {
    text-transform: uppercase;
    padding: 14px 15px;
    width: 100%;
    display: inline-block;
    border-top: 1px solid #ebebeb;
    color: #000;
}

.submenu-list {
    padding-left: 15px;
}

.toggle-submenu::after {
    font-family: 'FontAwesome';
    content: "\f067";

    color: #2F698E;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    float: right;
}

.main-menu__item.active>.toggle-submenu::after {
    content: "\f068";
    font-family: "Font Awesome 6 Free";
    font-size: 14px;
}

.submenu-list {
    transition: all 0.35s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.main-menu__item.active>.submenu-list {
    max-height: 100%;
}

.social-icons>ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    gap: 4px;
}

.social-icons>ul>li>a {
    width: 30px;
    height: 30px;

    text-align: center;
    color: #fff;

    justify-content: center;
    align-items: center;
    display: flex;
}

.hd-facebook {
    background-color: #3B5998;
}

.hd-twitter {
    background-color: #2CAAE1;
}

.hd-youtube {
    background-color: #CC181E;
}

.hd-instagram {
    background-color: #CB2899;
}

/* MOBILE SIDE PANEL - END */



/*Footer - Home Page - START */

.footer__homepage {
    padding: 20px;
    color: #fff;
    background-color: #112E3E;
    text-align: center;
}

.footer__homepage .site-header__logo {
    margin-bottom: 20px;
}

.newsletter__header h3 {
    font-size: 22px;
    line-height: 22px;
    font-family: var(--Nunito);
    margin-bottom: 20px;
}

.singup__subtitle {
    font-family: var(--Roboto);
    font-size: 14px;
    line-height: 22px;

    color: #999;
}

.newsletter-input__wrapper {
    background-color: #fff;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
}

.newsletter__input {
    outline: unset;
    border: unset;

    background-color: unset;

    font-family: var(--Roboto);
    font-size: 14px;
    line-height: 28px;

    padding: 6px 20px;

    flex-grow: 1;
}

.newsletter__telegram-icon {
    color: #2F698E;
    background-color: transparent;
    border: none;
    padding: 6px 20px;
    font-size: 22px;

    flex-grow: 0;
    flex-shrink: 0;
}

.footer-social__list {
    padding: 0;
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

.footer-social__list li a {
    background-color: #2A4453;
    display: grid;
    place-items: center;

    border-radius: 50%;

    height: 50px;
    width: 50px;

    color: #fff;

    text-decoration: none;
}

.footer__contacts p {
    font-size: 14px;
    font-family: var(--Roboto);
}

.footer__contacts p a {
    font-family: var(--Roboto);
    color: #999;
    font-size: 14px;

    text-decoration: none;
}

.footer-menu .footer-menu__heading {
    color: #fff;
    text-decoration: unset;
    font-family: var(--Nunito);
    font-size: 22px;
    font-weight: 700;
}

.footer-menu .footer-menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-menu .footer-menu__list li a {
    font-size: 14px;
    color: #999;
    font-weight: 300;
    font-family: var(--Roboto);
    text-decoration: unset;
}

.mb-3 {
    margin-bottom: 16px;
}

.my-accordion ul {
    transition: all 0.2s ease-in-out;
}

.my-accordion .toggle-accordion {}

.my-accordion__content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    max-height: 0;
    overflow: hidden;
}

.my-accordion.active ul {
    max-height: 100%;
}

.toggle:after {
    font-family: "Font Awesome 6 Free";
    content: "\f107";
    margin-left: 20px;
}

.my-accordion.active > .toggle:after {
    content: "\f106";
}

/* Footer - Homepage - END*/